<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/0.17.6/vuetify.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <v-app light id="app">
            <v-toolbar>
                <v-toolbar-title >Pomodoro Timer</v-toolbar-title>
            </v-toolbar>
            <v-container secondary>
                <v-layout pa-5 row text-xs-center primary xs12 md6 offset-md3>
                    <v-flex xs6>
                        <v-flex><h3>Session</h3></v-flex>
                        <v-layout row justify-center>
                            <v-btn fab small @click="AddToSession"><v-icon>add_box</v-icon></v-btn>
                            <div v-model="Session" id="session">{{ Session }}</div>
                            <v-btn fab small @click="SubtractFromSession"><v-icon>indeterminate_check_box</v-icon></v-btn>
                        </v-layout>
                    </v-flex>
                    <v-flex xs6>
                        <v-flex><h3>Break</h3></v-flex>       
                        <v-layout row justify-center>
                            <v-btn fab small @click="AddToBreakTime"><v-icon>add_box</v-icon></v-btn>
                            <div v-model="BreakTime" id="breakTime">{{ BreakTime }}</div>
                            <v-btn fab small @click="SubtractFromBreakTime"><v-icon>indeterminate_check_box</v-icon></v-btn>
                        </v-layout>
                    </v-flex>
                </v-layout>
                <v-layout row text-xs-center primary xs12 md6 offset-md3>
                    <v-flex xs12>
                        <v-layout row justify-center>
                            <v-btn fab id="pomodoro-btn"><h1 id="pomodoro" v-model="Pomodoro">{{ Pomodoro }}</h1></v-btn>
                        </v-layout>
                    </v-flex>                    
                </v-layout>
                <v-layout pa-5 row text-xs-center primary xs12 md6 offset-md3>
                    <v-flex xs6 offset-xs3>
                        <v-layout justify-space-around >
                            <v-flex >
                                <v-btn fab><v-icon> play_arrow </v-icon></v-btn>
                            </v-flex>
                            <v-flex>
                                <v-btn fab @click="Reset"><v-icon> restore </v-icon> </v-btn>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-app>

    </body>
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/0.17.6/vuetify.js"></script>
    <script src="script.js"></script>
    
</html>